@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --misa-blue: #0b5ed7;
  --misa-gradient-from: #1766d6;
  --misa-gradient-to: #5b3bd5;
}

body {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial;
  background: #f3f6fb;
}
.container {
  max-width: 1100px;
}
